{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    RETRO F.C.
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <section id="section-background">
        <div class="row">
            <div class="col">
                <h1 class="home-pad diplay-4 logo-font text-black text-center">Welcome to Retro F.C.</h1>
                <p class="home-pad diplay-4 text-black text-center">
                    At Retro F.C. we provide you with the best quality retro jerseys on the market. That one Jersey you've been looking for? We've got it! <br> Featuring teams from across the globe we offer jersey's of all different kinds, common to rare and even limited editions you wont find anywhere else <br> Prefer a more personal touch? Come to our store and see the whole range featuring exclusive items and accesories!
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h1 class="home-pad logo-font text-black text-center">Our Store</h1>
            </div>
        </div>
            <div class="col">
                <h1 class="home-pad-store diplay-4 text-black text-center">Visit our store in central london here:</h1><br>

                    <h4 class="center-align text-center">
                        <a target="_blank" href="https://www.google.com/maps/place/Oxford+St,+London/@51.5152543,-0.1442282,17z/data=!3m1!4b1!4m5!3m4!1s0x48761ad554c335c1:0xda2164b934c67c1a!8m2!3d51.5152543!4d-0.1420395" class="home-pad shop-now-button btn btn-md rounded-0 text-uppercase ">Visit</a>
                    </h4>
            </div>
            <div class="col-12">
                <img class="home-pad home-pad-foot w-100 display-4 center-align" src="{{ MEDIA_URL }}retrohome.jpeg" alt="">
            </div>
        </div>
    </section>
    <!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <h4>
            <a href="{% url 'account_signup' %}" class="home-pad shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Sign Up</a>
        </h4>
      </ul>
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="home-pad footer-copyright text-center py-3">© 2020 Copyright: Retro F.C.
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
{% endblock %}
