{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    RETRO F.C.
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container-eat">
           <div class="fade-in" id="hero"></div>
           <div class="centered">
              <h1 id="hero-title">Madrid</h1>
           </div>
           <div class="info-hero">
              <div class="bottom">
                 <p>event info</p>
              </div>
              <div class="bottom-arrow"><i class="fas fa-angle-double-down"></i></div>
           </div>
           <div class="scroll-left">
              <p>EVENTS: CHANGING OF GUARD, FLAMENCO (TEATRO ALIFI), CHRISTMAS MARKET PLAZA MAYOR, MEM FESTIVAL</p>
           </div>
        </div>
     </section>
{% endblock %}
