{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    RETRO F.C.
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <section id="section-background">
        <div class="col">
            <div class="row">
                <h1 class="diplay-4 logo-font text-black text-center">Welcome to Retro F.C.</h1>
            </div>
            <div class="row">
                <h4 class="diplay-4 logo-font text-black text-center">
                    At Retro F.C. we provide you with the best quality retro jerseys on the market. That one Jersey you've been lloking for? We've got it!
                </h4>
            </div>
        </div>
    </section>
{% endblock %}
